# Ignore Python virtual environments
venv/
.venv/

# Ignore cache files
**pycache**/
*.log

# Ignore SQLite database used for testing
files/warehouse.db

# Ignore config files
config.json
config.template.json
